<div class="form-set">
	<div class="form-sizer">
		<div class="label-sizer">
			<label for="{{id}}">{{label}}{{required}}</label>
		</div>
		<div class="input-sizer">
			<input type="hidden" id="{{id}}" class="{{classnames}}" name="{{id}}" data-filter="none" />
			<div class="{{classnames}}">
				<div class="option-selectors">
					<div class="selected" ng-click="invoke();">{{options[0]}}</div>
					<div class="options" ng-repeat="g in options" ng-click="setvalue(g);">{{g}}</div>
				</div>
			</div>
		</div>
	</div>
</div>