_bin/wp-admin/*
_bin/wp-content/*
_bin/wp-includes/*
_bin/media/*
_bin/.htaccess
_bin/index.php
_bin/license.txt
_bin/readme.html
_bin/wp-activate.php
_bin/wp-blog-header.php
_bin/wp-comments-post.php
_bin/wp-config-sample.php
_bin/wp-config.php
_bin/wp-config-sample.php
_bin/wp-cron.php
_bin/wp-links-opml.php
_bin/wp-load.php
_bin/wp-login.php
_bin/wp-mail.php
_bin/wp-settings.php
_bin/wp-signup.php
_bin/wp-trackback.php
_bin/xmlrpc.php
php/plugins/*
!php/plugins/kld/
.DS_Store
.DS_Store? 
.Spotlight-V100 
.Trashes
*.touch
.sass-cache/
ehthumbs.db 
Thumbs.db
sftp-config.json
_deployment*.json