Options +FollowSymLinks
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

RewriteEngine On

 # Don't rewrite files or directories
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^.*$ ./index.php