@mixin transition($what...)
{
  -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);

   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;

  @if $what == 'auto' {
    
    -moz-transition-property : all;
    -webkit-transition-property : all;
    -o-transition-property : all;
    -ms-transition-property : all;
    transition-property : all;

   } @else {
   
    -moz-transition-property : $what;
    -webkit-transition-property : $what;
    -o-transition-property : $what;
    -ms-transition-property : $what;
    transition-property : $what;
   }
}

@mixin duration($what)
{
  @if $what == 'auto'{
    
    -moz-transition-duration : 0.8s;
    -webkit-transition-duration : 0.8s;
    -o-transition-duration : 0.8s;
    -ms-transition-duration : 0.8s;
    transition-duration : 0.8s;
  } @else {
    -moz-transition-duration : $what;
    -webkit-transition-duration : $what;
    -o-transition-duration : $what;
    -ms-transition-duration : $what;
    transition-duration : $what;
  }
}

@mixin timing($what)
{
  @if $what == 'snap'{
    -moz-transition-timing-function : cubic-bezier(0.000, 0.700, 0.285, 1.000);
    -webkit-transition-timing-function : cubic-bezier(0.000, 0.700, 0.285, 1.000);
    -o-transition-timing-function : cubic-bezier(0.000, 0.700, 0.285, 1.000);
    -ms-transition-timing-function : cubic-bezier(0.000, 0.700, 0.285, 1.000);
    transition-timing-function : cubic-bezier(0.000, 0.700, 0.285, 1.000);
  }
  @else if $what == 'sine'{
    -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
       -moz-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
         -o-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
            transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  @else if $what == 'bounce'{
    -webkit-transition-timing-function: cubic-bezier(0.050, 0.385, 0.000, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.050, 0.385, 0.000, 1.220);
       -moz-transition-timing-function: cubic-bezier(0.050, 0.385, 0.000, 1.220);
         -o-transition-timing-function: cubic-bezier(0.050, 0.385, 0.000, 1.220);
            transition-timing-function: cubic-bezier(0.050, 0.385, 0.000, 1.220);
  }
  @else if $what == 'fall'{
    -moz-transition-timing-function : cubic-bezier(0.630, 0.040, 0.835, 0.560);
    -webkit-transition-timing-function : cubic-bezier(0.630, 0.040, 0.835, 0.560);
    -o-transition-timing-function : cubic-bezier(0.630, 0.040, 0.835, 0.560);
    -ms-transition-timing-function : cubic-bezier(0.630, 0.040, 0.835, 0.560);
    transition-timing-function : cubic-bezier(0.630, 0.040, 0.835, 0.560);
  }
  @else {
    -moz-transition-timing-function : linear;
    -webkit-transition-timing-function : linear;
    -o-transition-timing-function : linear;
    -ms-transition-timing-function : linear;
    transition-timing-function : linear;
  }
}

@mixin spin {
  -moz-animation: spin 0.6s infinite linear;
  -o-animation: spin 0.6s infinite linear;
  -webkit-animation: spin 0.6s infinite linear;
  animation: spin 0.6s infinite linear;
  display: inline-block;
}

@mixin spinstop {
  -moz-animation: periodicspin 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-animation: periodicspin 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: periodicspin 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: periodicspin 4s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@mixin loading {
  -moz-animation: bouncelr 0.8s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: bouncelr 0.8s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation: bouncelr 0.8s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: bouncelr 0.8s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.transition{
  @include transition(all);
}

.transition-opacity{
  @include transition(opacity);
}

.duration-1000{
  @include duration(1s);
}

.duration-800{
  @include duration(0.8s);
}

.duration-500{
  @include duration(0.5s);
}

.duration-300{
  @include duration(0.3s);
}

.duration-100{
  @include duration(0.1s);
}

.timing-snap{
  @include timing(snap);
}

.timing-bounce{
  @include timing(bounce); 
}

.timing-fall{
  @include timing(fall);
}

.timing-linear{
  @include timing(linear);
}

@-webkit-keyframes periodicspin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  
  12.5% {
    -webkit-transform: rotate(90deg);
  }
  
  25% {
    -webkit-transform: rotate(90deg);
  }
  
  37.5% {
    -webkit-transform: rotate(180deg);
  }
  
  50% {
    -webkit-transform: rotate(180deg);
  }
  
  67.5% {
    -webkit-transform: rotate(270deg);
  }
  
  75% {
    -webkit-transform: rotate(270deg);
  }
  
  87.5%{
    -webkit-transform: rotate(360deg);
  }
  
  100%{
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes periodicspin {
    0% {
    -moz-transform: rotate(0deg);
  }
  
  12.5% {
    -moz-transform: rotate(90deg);
  }
  
  25% {
    -moz-transform: rotate(90deg);
  }
  
  37.5% {
    -moz-transform: rotate(180deg);
  }
  
  50% {
    -moz-transform: rotate(180deg);
  }
  
  67.5% {
    -moz-transform: rotate(270deg);
  }
  
  75% {
    -moz-transform: rotate(270deg);
  }
  
  87.5%{
    -moz-transform: rotate(360deg);
  }
  
  100%{
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes periodicspin {
    0% {
    -o-transform: rotate(0deg);
  }
  
  12.5% {
    -o-transform: rotate(90deg);
  }
  
  25% {
    -o-transform: rotate(90deg);
  }
  
  37.5% {
    -o-transform: rotate(180deg);
  }
  
  50% {
    -o-transform: rotate(180deg);
  }
  
  67.5% {
    -o-transform: rotate(270deg);
  }
  
  75% {
    -o-transform: rotate(270deg);
  }
  
  87.5%{
    -o-transform: rotate(360deg);
  }
  
  100%{
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes periodicspin {
    0% {
    -ms-transform: rotate(0deg);
  }
  
  12.5% {
    -ms-transform: rotate(90deg);
  }
  
  25% {
    -ms-transform: rotate(90deg);
  }
  
  37.5% {
    -ms-transform: rotate(180deg);
  }
  
  50% {
    -ms-transform: rotate(180deg);
  }
  
  67.5% {
    -ms-transform: rotate(270deg);
  }
  
  75% {
    -ms-transform: rotate(270deg);
  }
  
  87.5%{
    -ms-transform: rotate(360deg);
  }
  
  100%{
    -ms-transform: rotate(360deg);
  }
}

@keyframes periodicspin {
    0% {
    transform: rotate(0deg);
  }
  
  12.5% {
    transform: rotate(90deg);
  }
  
  25% {
    transform: rotate(90deg);
  }
  
  37.5% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  67.5% {
    transform: rotate(270deg);
  }
  
  75% {
    transform: rotate(270deg);
  }
  
  87.5%{
    transform: rotate(360deg);
  }
  
  100%{
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-moz-keyframes bouncelr {
  0% {
    opacity: 0;
    -moz-transform: translateX(-175%);
  }

  25%{
    opacity: 1;
  }

  75%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(175%);
  }
}
@-webkit-keyframes bouncelr {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-175%);
  }

  25%{
    opacity: 1;
  }

  75%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(175%);
  }
}
@-o-keyframes bouncelr {
  0% {
    opacity: 0;
    -o-transform: translateX(-175%);
  }

  25%{
    opacity: 1;
  }

  75%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    -o-transform: translateX(175%);
  }
}
@-ms-keyframes bouncelr {
  0% {
    opacity: 0;
    -ms-transform: translateX(-175%);
  }

  25%{
    opacity: 1;
  }

  75%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    -ms-transform: translateX(175%);
  }
}
@keyframes bouncelr {
  0% {
    opacity: 0;
    transform: translateX(-175%);
  }

  25%{
    opacity: 1;
  }

  75%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(175%);
  }
}