html{
	body{
		.modal-shader{
			width: 100%;
			height: 100%;
			z-index: 20;
			background: rgba(0, 0, 0, 0.7);
			position: absolute;
			cursor: pointer;
			height: 0;
			width: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 50%;
			left: 50%;
			@include prefix(transform, translate(-50%, -50%));
			
			.modal-window{
				background: $white;
				border-radius: 5px;
				width: 800px;
				max-width: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				cursor: default;
				@include prefix(transform, translate(-50%, -50%) scale(1, 0));
				opacity: 0;
				overflow: hidden;
				
				.modal-text{
					opacity: 0;
					padding: 15px;
					@include min(4) {
						padding: 15px 115px;
					}
					border-bottom: 1px solid #ddd;
					text-align: center;

					h2{
						color: $accent;
						@include zoom(font-size, 2.25rem);
						line-height: 1.6;
						margin: 0;
						letter-spacing: 0.02em;
						text-transform: uppercase;
					}
				}

				.modal-control{
					opacity: 0;
					padding: 15px;
					text-align: right;
					text-align: center;
					a{
						display: inline-block;
						@include zoom(height, 3rem);
						@include zoom(font-size, 1.6rem);
						text-transform: uppercase;
						@include zoom(padding-left, 1.6rem);
						@include zoom(padding-right, 1.6rem);
						@include zoom(line-height, 3rem);
						background: $accent;
						color: #fff;
						border-radius: 5px;
						border: 1px solid $accent;
						@include transition(all);
						@include timing(linear);
						@include duration(0.2s);

						&:hover, &:active, &:focus{
							text-decoration: none;
							background: $white;
							color: $accent;
							border-color: $accent;
						}

					}
				}
			}
		}
	}
}