@function fsize($num) {
	@return $num * $font_multiplier;
}
@mixin type($fam: 'sans', $typ: 'body') {
	@if $fam == 'sans' {
		font-family: sans-serif;
		@if $typ == 'body' {
			font-size: fsize(1);
			line-height: 1.4;
		}
	}
}

@font-face {
	font-family: 'form-icons';
	src: url('../fonts/defaults/form-icons.eot?ejrtbn');
	src: url('../fonts/defaults/form-icons.eot?ejrtbn#iefix') format('embedded-opentype'),
		url('../fonts/defaults/form-icons.ttf?ejrtbn') format('truetype'),
		url('../fonts/defaults/form-icons.woff?ejrtbn') format('woff'),
		url('../fonts/defaults/form-icons.svg?ejrtbn#form-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="form-"], [class*=" form-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'form-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'commerce';
	src: url('../fonts/defaults/commerce.eot?pevq9u');
	src: url('../fonts/defaults/commerce.eot?pevq9u#iefix') format('embedded-opentype'),
		url('../fonts/defaults/commerce.ttf?pevq9u') format('truetype'),
		url('../fonts/defaults/commerce.woff?pevq9u') format('woff'),
		url('../fonts/defaults/commerce.svg?pevq9u#commerce') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="shopping-"], [class*=" shopping-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'commerce' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.shopping-shipping:before {
	content: "\e908";
}
.shopping-info:before {
	content: "\e909";
}
.shopping-cash:before {
	content: "\e907";
}
.shopping-unionpay:before {
	content: "\e906";
}
.shopping-credit-card:before {
	content: "\e900";
}
.shopping-download:before {
	content: "\e960";
}
.shopping-trash:before {
	content: "\e90a";
}
.shopping-cc-mastercard:before {
	content: "\e90d";
}
.shopping-cc-visa:before {
	content: "\e90b";
}
.shopping-shopping-cart:before {
	content: "\e90c";
}
.shopping-paypal:before {
	content: "\e901";
}
.shopping-pinterest:before {
	content: "\e902";
}
.shopping-instagram:before {
	content: "\e903";
}
.shopping-twitter:before {
	content: "\e904";
}
.shopping-facebook:before {
	content: "\e905";
}

.form-right:before {
	content: "\e90d";
}
.form-left:before {
	content: "\e90e";
}
.form-down-light:before {
	content: "\e901";
}
.form-menu-light:before {
	content: "\e902";
}
.form-search:before {
	content: "\e900";
}
.form-down-solid:before {
	content: "\e906";
}
.form-close:before {
	content: "\e904";
}
.form-down:before {
	content: "\e907";
}
.form-close-light:before {
	content: "\e905";
}
.form-menu:before {
	content: "\e903";
}
.form-checked:before {
	content: "\e908";
}

