$white: #ffffff;
$accent: #999999;
$alt: #777777;
$black: #333333;

//adjust zoom factors
@mixin zoom($property, $v){
	@include upScale($property, ($v * 0.5), ($v * 0.5), ($v * 0.6), ($v * 0.75), $v);
}