$xs: "only screen and (max-width : 399px)";
$phones: "only screen and (min-width : 400px)";
$tablets: "only screen and (min-width : 768px)";
$standard: "only screen and (min-width : 1025px)";
$high: "only screen and (min-width : 1200px)";
$quad: "only screen and (min-width : 2000px)";

$rxs: "only screen and (max-width : 399px)";
$rphones: "only screen and (max-width : 767px)";
$rtablets: "only screen and (max-width : 1024px)";
$rstandard: "only screen and (max-width : 1199px)";
$rhigh: "only screen and (max-width : 1999px)";
$rquad: "only screen and (min-width : 2000px)";


@mixin prefix($property, $value)
{
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-o-#{$property}: $value;
	-ms-#{$property}: $value;
	#{$property}: $value;
}

@mixin upScale($property, $small: false, $sphones: false, $stablets: false, $sstandard: false, $shigh: false, $squad: false, $prefix: false){
	//going up
	@if $small != false {
		@media #{$xs} {
			@if $prefix != false{
				-webkit-#{$property}: $small;
				-moz-#{$property}: $small;
				-o-#{$property}: $small;
				-ms-#{$property}: $small;
			}
			#{$property}: $small;
		}
	}

	@if $sphones != false {
		@media #{$phones} {
			@if $prefix != false{
				-webkit-#{$property}: $sphones;
				-moz-#{$property}: $sphones;
				-o-#{$property}: $sphones;
				-ms-#{$property}: $sphones;
			}
			#{$property}: $sphones;
		}
	}

	@if $stablets != false {
		@media #{$tablets} {
			@if $prefix != false{
				-webkit-#{$property}: $stablets;
				-moz-#{$property}: $stablets;
				-o-#{$property}: $stablets;
				-ms-#{$property}: $stablets;
			}
			#{$property}: $stablets;
		}
	}

	@if $sstandard != false {
		@media #{$standard} {
			@if $prefix != false{
				-webkit-#{$property}: $sstandard;
				-moz-#{$property}: $sstandard;
				-o-#{$property}: $sstandard;
				-ms-#{$property}: $sstandard;
			}
			#{$property}: $sstandard;
		}
	}

	@if $shigh != false {
		@media #{$high} {
			@if $prefix != false{
				-webkit-#{$property}: $shigh;
				-moz-#{$property}: $shigh;
				-o-#{$property}: $shigh;
				-ms-#{$property}: $shigh;
			}
			#{$property}: $shigh;
		}
	}

	@if $squad != false {
		@media #{$quad} {
			@if $prefix != false{
				-webkit-#{$property}: $squad;
				-moz-#{$property}: $squad;
				-o-#{$property}: $squad;
				-ms-#{$property}: $squad;
			}
			#{$property}: $squad;
		}
	}
}

@mixin downScale($property, $squad: false, $shigh: false, $sstandard: false, $stablets: false, $sphones: false, $small: false, $prefix: false){
	//going down
	@if $squad != false {
		@media #{$rquad} {
			@if $prefix != false{
				-webkit-#{$property}: $squad;
				-moz-#{$property}: $squad;
				-o-#{$property}: $squad;
				-ms-#{$property}: $squad;
			}
			#{$property}: $squad;
		}
	}


	@if $shigh != false {
		@media #{$rhigh} {
			@if $prefix != false{
				-webkit-#{$property}: $shigh;
				-moz-#{$property}: $shigh;
				-o-#{$property}: $shigh;
				-ms-#{$property}: $shigh;
			}
			#{$property}: $shigh;
		}
	}

	@if $sstandard != false {
		@media #{$rstandard} {
			@if $prefix != false{
				-webkit-#{$property}: $sstandard;
				-moz-#{$property}: $sstandard;
				-o-#{$property}: $sstandard;
				-ms-#{$property}: $sstandard;
			}
			#{$property}: $sstandard;
		}
	}

	@if $stablets != false {
		@media #{$rtablets} {
			@if $prefix != false{
				-webkit-#{$property}: $stablets;
				-moz-#{$property}: $stablets;
				-o-#{$property}: $stablets;
				-ms-#{$property}: $stablets;
			}
			#{$property}: $stablets;
		}
	}

	@if $sphones != false {
		@media #{$rphones} {
			@if $prefix != false{
				-webkit-#{$property}: $sphones;
				-moz-#{$property}: $sphones;
				-o-#{$property}: $sphones;
				-ms-#{$property}: $sphones;
			}
			#{$property}: $sphones;
		}
	}

	@if $small != false {
		@media #{$rxs} {
			@if $prefix != false{
				-webkit-#{$property}: $small;
				-moz-#{$property}: $small;
				-o-#{$property}: $small;
				-ms-#{$property}: $small;
			}
			#{$property}: $small;
		}
	}
}

html{
	@include upScale(font-size, 62.5%, 62.5%, 62.5%, 50%, 62.5%, 70%);
}