html{
	body{
		.shader{
			opacity: 0;
			z-index: 20;
			background: rgba(0,0,0,0.7);
			position: absolute;
			top: 50%;
			left: 50%;
			@include reposition(-50%, -50%);
			width: 0;
			height: 0;
			overflow: hidden;
			text-align: center;

			&.act{
				@include mScrollFix() {
					overflow-y: auto;
				}
			}
			

			&::before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 0;
				height: 100%;
			}

			.sizer{
				width: 100%;
				position: relative;
				padding: 15px;
				display: inline-block;
				vertical-align: middle;
				max-width: 830px;				

				.modal-window{
					opacity: 0;
					@include reposition(0, -60px);
					position: relative;
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
					&.modal-dialogue{
						background: $white;
						border-radius: 3px;
						overflow: hidden;

						.modal-title{
							@include type('sans', 'head');
							line-height: 2.5;
							text-align: center;
							padding-left: 20px;
							padding-right: 20px;
							border-bottom: 1px solid rgba($black, 0.4);
						}

						.modal-text{
							@include type('sans', 'body');
							p{
								text-align: left;
								padding-left: 20px;
								padding-right: 20px;
							}
							padding-top: 20px;
							padding-bottom: 20px;
						}

						.modal-footer{
							border-top: 1px solid rgba($black, 0.4);
							padding-top: 20px;
							padding-bottom: 20px;
							.button{
								@include button (fsize(2), 'sans', 'body', $black, $white){
									&:hover, &:active, &:focus{
										background: $black;
										color: $white;
									}
								};
							}
						}
					}

					.close{
						position: absolute;
						top: 15px;
						right: 15px;
						color: $black;

						&:hover{
							opacity: 0.7;
						}
					}
				}
			}
		}
	}
}