@function fsize($num) {
	@return $num * $font_multiplier;
}
@mixin type($fam: 'sans', $typ: 'body') {
	@if $fam == 'sans' {
		font-family: sans-serif;
		@if $typ == 'body' {
			font-size: fsize(1.4);
			line-height: 1.4;
		}
		@else if $typ == 'head' {
			font-size: fsize(2);
			line-height: 1.4;
			text-transform: uppercase;
		}
	}
}