@import 'vars';
/*=== TYPOGRAPHY ===*/
$font_multiplier: 1rem;
$font_base: 62.5%;
/* --- */

/* BREAKPOINTS */
$bpmax : 399px, 767px, 1465px, 1640px, 2040px, 2440px, false;
$bpmin : false, 400px, 1209px, 1466px, 1641px, 2041px, 2441px;

$bex2: 783px, 1208px;
$bex3: 768px, 782px;

/* --- */
@mixin min($number, $orientation: false) {
	@if $number == 1{
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (orientation: $orientation) { 
				@content;
			}
		}
		@else {
			@content;
		}
		
	}
	@else if $number < 8 and $number > 1{
	
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (min-width: nth($bpmin, $number)) and (orientation: $orientation) {
				@content;
			}
		}
		@else {
			@media only screen and (min-width: nth($bpmin, $number)){
				@content;
			}
		}

		//exception == min 3
		@if $number == 3 {
			@if $orientation == 'landscape' or $orientation == 'portrait' {
				@media only screen and (min-width: nth($bex3, 1)) and (max-width: nth($bex3, 2)) and (orientation: $orientation) {
					@content;
				}
			}
			@else {
				@media only screen and (min-width: nth($bex3, 1)) and (max-width: nth($bex3, 2)){
					@content;
				}
			}
		}
	}
	@else {
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (orientation: $orientation) { 
				@content;
			}
		}
		@else {
			@content;
		}
	}
}

@mixin max($number, $orientation: false){
	@if $number == 7{
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (orientation: $orientation) { 
				@content;
			}
		}
		@else {
			@content;
		}
	}
	@else if $number < 7 and $number > 0{
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (max-width: nth($bpmax, $number)) and (orientation: $orientation) {
				@content;
			}
		}
		@else {
			@media only screen and (max-width: nth($bpmax, $number)){
				@content;
			}
		}
		
		//exception == max 2
		@if $number == 2 {
			@if $orientation == 'landscape' or $orientation == 'portrait' {
				@media only screen and (min-width: nth($bex2, 1)) and (max-width: nth($bex2, 2)) and (orientation: $orientation) {
					@content;
				}
			}
			@else {
				@media only screen and (min-width: nth($bex2, 1)) and (max-width: nth($bex2, 2)){
					@content;
				}
			}
		}
	}
	@else {
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (orientation: $orientation) { 
				@content;
			}
		}
		@else {
			@content;
		}
	}
}

@mixin only($number, $orientation: false){
	@if $number == 1{
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (max-width: nth($bpmax, 1)) and (orientation: $orientation) {
				@content;
			}
		}
		@else {
			@media only screen and (max-width: nth($bpmax, 1)) {
				@content;
			}
		}
	}
	@else if $number == 7{
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (min-width: nth($bpmin, 7)) and (orientation: $orientation) {
				@content;
			}
		}
		@else {
			@media only screen and (min-width: nth($bpmin, 7)) {
				@content;
			}
		}
	}
	@else if $number > 1 and $number < 7 {
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (min-width: nth($bpmin, $number)) and (max-width: nth($bpmax, $number)) and (orientation: $orientation) {
				@content;
			}
		}
		@else {
			@media only screen and (min-width: nth($bpmin, $number)) and (max-width: nth($bpmax, $number)) {
				@content;
			}
		}


		@if $number == 3 {
			@if $orientation == 'landscape' or $orientation == 'portrait' {
				@media only screen and (min-width: nth($bex3, 1)) and (max-width: nth($bex3, 2)) and (orientation: $orientation) {
					@content;
				}
			}
			@else {
				@media only screen and (min-width: nth($bex3, 1)) and (max-width: nth($bex3, 2)){
					@content;
				}
			}
		}

		@if $number == 2 {
			@if $orientation == 'landscape' or $orientation == 'portrait' {
				@media only screen and (min-width: nth($bex2, 1)) and (max-width: nth($bex2, 2)) and (orientation: $orientation) {
					@content;
				}
			}
			@else {
				@media only screen and (min-width: nth($bex2, 1)) and (max-width: nth($bex2, 2)){
					@content;
				}
			}
		}
	}

	
	@else{
		@if $orientation == 'landscape' or $orientation == 'portrait' {
			@media only screen and (orientation: $orientation) { 
				@content;
			}
		}
		@else {
			@content;
		}
	}
}