<div id="wrapper">	
	
	<div class="container grid">
		<div class="row">
			<div class="col-xs-12">
				<field ng-repeat="x in fields" ng-attr-target="fields" ng-attr-index="{{$index}}"></field>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3 button" style="padding-left: 20px; padding-right: 20px;" ng-click="openM();"><div class="block-measure" style="width: 100%; height: 300px; background: #ff0;"></div></div>
			<div class="col-xs-12 col-sm-6 col-md-3" style="padding-left: 20px; padding-right: 20px;"><div class="block-measure" style="width: 100%; height: 300px; background: #ff0;"></div></div>
			<div class="col-xs-12 col-sm-6 col-md-3" style="padding-left: 20px; padding-right: 20px;"><div class="block-measure" style="width: 100%; height: 300px; background: #ff0;"></div></div>
			<div class="col-xs-12 col-sm-6 col-md-3" style="padding-left: 20px; padding-right: 20px;"><div class="block-measure" style="width: 100%; height: 300px; background: #ff0;"></div></div>
		</div>
	</div>
</div>
<div id="preloader">
	
</div>
